In [ ]:
import pandas as pd
import numpy as np
from catboost import CatBoost, CatBoostRegressor, Pool
from catboost import CatBoostClassifier
from sklearn import datasets
from catboost import CatBoostClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import log_loss
import time

In [ ]:
test_new = pd.read_csv('test.tsv.gz',sep='\t',compression='gzip')

In [ ]:
train_new = pd.read_csv('train.tsv.gz',sep='\t',compression='gzip')

In [ ]:
lst = []
for name in train_new.columns:
    nu = len(train_new[name].unique())
    nisnan =  train_new[name].isnull().sum()
    mode = train_new[name].mode().values[0]
    lst.append([name, nu, nisnan,mode, train_new[name].unique()[:min(nu,10)]])
pd.DataFrame(lst,columns = ['column', 'nunique', 'nnull', 'mode','values'])

,column,nunique,nnull,mode,values
0,Unnamed: 0,29989753,0,0,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
1,ts,259201,1,1.37943e+09,"[1379278800.0, 1379278801.0, 1379278802.0, 137..."
2,label,3,1,0,"[0.0, 1.0, nan]"
3,A,968188,1,4.01307e+09,"[2733540231.0, 1964843810.0, 660357674.0, 2962..."
4,B,88651,1,2.27719e+09,"[3500392421.0, 1232327635.0, 2066571765.0, 237..."
5,C,5931,1,2252,"[4454.0, 2081.0, 602.0, 4018.0, 4781.0, 5454.0..."
6,D,32205,1,21050,"[15573.0, 2547.0, 29581.0, 36969.0, 23457.0, 1..."
7,E,99,1,30,"[11.0, 29.0, 30.0, 35.0, 6.0, 10.0, 88.0, 83.0..."
8,F,3806,1,995,"[995.0, 1694.0, 3905.0, 551.0, 2038.0, 3418.0,..."
9,G,4,1,2,"[2.0, 0.0, 1.0, nan]"
10,H,452,1,177,"[176.0, 361.0, 468.0, 8.0, 452.0, 390.0, 313.0..."
11,I,102,1,15,"[15.0, 22.0, 53.0, 20.0, 1.0, 63.0, 47.0, 39.0..."
12,J,1325,1,821,"[671.0, 802.0, 758.0, 67.0, 821.0, 822.0, 24.0..."
13,CG1,2096666,94212,"99,154,155,76,412,122,139,333,332,335,334","[384,382,96,88,185,49,385,268,448,438,279,420,..."
14,CG2,148996,19500378,30009,"[nan, 28071,6916,9108, 18587,21441,22177, 1456..."
15,CG3,239353,26905271,45509,"[nan, 43845,45509,45500,15529,33701,49513,4951..."
16,l1,20444,1,0,"[32.0, 1.0, 119.0, 0.0, 5.0, 3.0, 26.0, 52.0, ..."
17,l2,87,1,0,"[0.0, 1.0, 2.0, 4.0, 5.0, 3.0, 15.0, 10.0, 6.0..."
18,K,3,1,0,"[0.0, 1.0, nan]"
19,L,9,1,106,"[106.0, 103.0, 105.0, 104.0, 107.0, 100.0, 101..."
20,M,29989753,0,2.42607e-08,"[0.574599281141893, 0.7399905633873455, 0.0054..."
21,N,1,0,0,[0]

In [ ]:
train_new['CG1_nan'] = train_new['CG1'].isna()
train_new['CG2_nan'] = train_new['CG2'].isna()
train_new['CG3_nan'] = train_new['CG3'].isna()

test_new['CG2_nan'] = test_new['CG2'].isna()
test_new['CG1_nan'] = test_new['CG1'].isna()
test_new['CG3_nan'] = test_new['CG3'].isna()

In [ ]:
from datetime import datetime

years = []
months = []
days = []
hours = []
for i in train_new['ts'].values:
    if is_nan_or_zero(i) == 0:
        years.append(datetime.fromtimestamp(i).year)
        months.append(datetime.fromtimestamp(i).month)
        days.append(datetime.fromtimestamp(i).day)
        hours.append(datetime.fromtimestamp(i).hour)
    else:
        years.append(i)
        months.append(i)
        days.append(i)
        hours.append(i)



years_test_new = []
months_test_new = []
days_test_new = []
hours_test_new = []
for i in test_new['ts'].values:
    if is_nan_or_zero(i) == 0:
        years_test_new.append(datetime.fromtimestamp(i).year)
        months_test_new.append(datetime.fromtimestamp(i).month)
        days_test_new.append(datetime.fromtimestamp(i).day)
        hours_test_new.append(datetime.fromtimestamp(i).hour)
    else:
        years_test_new.append(i)
        months_test_new.append(i)
        days_test_new.append(i)
        hours_test_new.append(i)


train_new['year'] = years
train_new['month'] = months
train_new['day'] = days
train_new['hour'] = hours

test_new['year'] = years_test_new
test_new['month'] = months_test_new
test_new['day'] = days_test_new
test_new['hour'] = hours_test_new

In [ ]:
import math

def is_nan_or_zero(val):
    return math.isnan(val) or val == 0

In [ ]:
years_test_new = []
months_test_new = []
days_test_new = []
hours_test_new = []
for i in test_new['ts'].values:
    if is_nan_or_zero(i) == 0:
        years_test_new.append(datetime.fromtimestamp(i).year)
        months_test_new.append(datetime.fromtimestamp(i).month)
        days_test_new.append(datetime.fromtimestamp(i).day)
        hours_test_new.append(datetime.fromtimestamp(i).hour)
    else:
        hours_test_new.append(i)

In [ ]:
train_new = train_new[train_new['label'].isna() == 0]

In [ ]:
categorical_features_names = [ 'A',  'C', 'D', 'E',   'H',
       'I', 'J', 'CG1', 'CG2',   'K', 'L',
        'hour', ]

feats = ['ts', 'CG1','CG2',
       'A', 'B',  'D', 'E', 'F', 'G', 'H', 'I',
                           'l1', 'l2', 'K', 'L','CG2_nan', 'hour']

In [ ]:
for i in categorical_features_names:
    train_new[i] = train_new[i].astype(str)
    test_new[i] = test_new[i].astype(str)

/data/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train_new[feats], train_new[['label']],
                                                    stratify=train_new[['label']],
                                                    test_size=0.2)

In [ ]:
feats = [['ts', 'CG1','CG2',
       'A', 'B',  'D', 'E', 'F', 'G', 'H', 'I',
                           'l1', 'l2', 'K', 'L','CG2_nan', 'hour']]

[['ts',
  'CG1',
  'CG2',
  'A',
  'B',
  'D',
  'E',
  'F',
  'G',
  'H',
  'I',
  'l1',
  'l2',
  'K',
  'L',
  'CG2_nan',
  'hour']]

In [ ]:
feats = ['ts', 'CG1','CG2',
       'A', 'B',  'D', 'E', 'F', 'G', 'H', 'I',
                           'l1', 'l2', 'K', 'L','CG2_nan', 'hour']

In [ ]:
for i in categorical_features_names:
    test_new[i] = test_new[i].astype(str)

In [ ]:
%%time
preds2 = model.predict_proba(test_new[feats])[:,1]

CPU times: user 2min 25s, sys: 22.2 s, total: 2min 48s
Wall time: 2min 16s

In [ ]:
l_z = train_new[train_new['label']==0]

In [ ]:
%%time

model = CatBoostClassifier(custom_metric= ['Logloss'], learning_rate=0.1, n_estimators=120,max_depth=7, cat_features=categorical_features_names)
model.fit(train_new[feats],train_new['label'])

0:	learn: 0.5991034	total: 4.81s	remaining: 9m 32s
1:	learn: 0.5220900	total: 8.55s	remaining: 8m 24s
2:	learn: 0.4578851	total: 15.4s	remaining: 10m
3:	learn: 0.4036419	total: 22.1s	remaining: 10m 40s
4:	learn: 0.3573299	total: 25.9s	remaining: 9m 55s
5:	learn: 0.3174610	total: 29s	remaining: 9m 10s
6:	learn: 0.2829116	total: 32.8s	remaining: 8m 49s
7:	learn: 0.2528041	total: 35.1s	remaining: 8m 10s
8:	learn: 0.2264490	total: 37s	remaining: 7m 36s
9:	learn: 0.2032895	total: 38.1s	remaining: 6m 58s
10:	learn: 0.1828718	total: 41.4s	remaining: 6m 50s
11:	learn: 0.1648261	total: 42.7s	remaining: 6m 24s
12:	learn: 0.1488323	total: 44.6s	remaining: 6m 7s
13:	learn: 0.1346307	total: 47.6s	remaining: 6m
14:	learn: 0.1219975	total: 51.1s	remaining: 5m 57s
15:	learn: 0.1107459	total: 53.6s	remaining: 5m 48s
16:	learn: 0.1007124	total: 56.6s	remaining: 5m 43s
17:	learn: 0.0917636	total: 58s	remaining: 5m 28s
18:	learn: 0.0837598	total: 1m 1s	remaining: 5m 26s
19:	learn: 0.0766033	total: 1m 4s	remaining: 5m 24s
20:	learn: 0.0701990	total: 1m 8s	remaining: 5m 21s
21:	learn: 0.0644686	total: 1m 12s	remaining: 5m 21s
22:	learn: 0.0593388	total: 1m 15s	remaining: 5m 20s
23:	learn: 0.0547452	total: 1m 19s	remaining: 5m 17s
24:	learn: 0.0506303	total: 1m 20s	remaining: 5m 7s
25:	learn: 0.0469364	total: 1m 24s	remaining: 5m 3s
26:	learn: 0.0436307	total: 1m 27s	remaining: 5m 2s
27:	learn: 0.0406764	total: 1m 29s	remaining: 4m 55s
28:	learn: 0.0380235	total: 1m 33s	remaining: 4m 53s
29:	learn: 0.0356659	total: 1m 35s	remaining: 4m 46s
30:	learn: 0.0335284	total: 1m 39s	remaining: 4m 45s
31:	learn: 0.0316077	total: 1m 43s	remaining: 4m 44s
32:	learn: 0.0298842	total: 1m 46s	remaining: 4m 41s
33:	learn: 0.0283367	total: 1m 50s	remaining: 4m 38s
34:	learn: 0.0269659	total: 1m 54s	remaining: 4m 37s
35:	learn: 0.0257206	total: 1m 58s	remaining: 4m 36s
36:	learn: 0.0246048	total: 2m 2s	remaining: 4m 34s
37:	learn: 0.0236173	total: 2m 6s	remaining: 4m 32s
38:	learn: 0.0227345	total: 2m 10s	remaining: 4m 30s
39:	learn: 0.0219548	total: 2m 13s	remaining: 4m 27s
40:	learn: 0.0212470	total: 2m 17s	remaining: 4m 24s
41:	learn: 0.0206249	total: 2m 21s	remaining: 4m 22s
42:	learn: 0.0200331	total: 2m 24s	remaining: 4m 19s
43:	learn: 0.0195164	total: 2m 28s	remaining: 4m 16s
44:	learn: 0.0190714	total: 2m 32s	remaining: 4m 13s
45:	learn: 0.0186534	total: 2m 36s	remaining: 4m 11s
46:	learn: 0.0182705	total: 2m 39s	remaining: 4m 7s
47:	learn: 0.0179425	total: 2m 43s	remaining: 4m 4s
48:	learn: 0.0176335	total: 2m 46s	remaining: 4m 1s
49:	learn: 0.0173763	total: 2m 50s	remaining: 3m 58s
50:	learn: 0.0171397	total: 2m 53s	remaining: 3m 54s
51:	learn: 0.0169304	total: 2m 57s	remaining: 3m 52s
52:	learn: 0.0167356	total: 3m 1s	remaining: 3m 48s
53:	learn: 0.0166009	total: 3m 4s	remaining: 3m 45s
54:	learn: 0.0164574	total: 3m 8s	remaining: 3m 42s
55:	learn: 0.0163361	total: 3m 11s	remaining: 3m 39s
56:	learn: 0.0162039	total: 3m 15s	remaining: 3m 36s
57:	learn: 0.0161004	total: 3m 20s	remaining: 3m 34s
58:	learn: 0.0160028	total: 3m 24s	remaining: 3m 30s
59:	learn: 0.0159178	total: 3m 27s	remaining: 3m 27s
60:	learn: 0.0158446	total: 3m 31s	remaining: 3m 24s
61:	learn: 0.0157690	total: 3m 34s	remaining: 3m 21s
62:	learn: 0.0156977	total: 3m 38s	remaining: 3m 17s
63:	learn: 0.0156404	total: 3m 42s	remaining: 3m 14s
64:	learn: 0.0155628	total: 3m 45s	remaining: 3m 10s
65:	learn: 0.0155295	total: 3m 49s	remaining: 3m 7s
66:	learn: 0.0154710	total: 3m 52s	remaining: 3m 4s
67:	learn: 0.0154275	total: 3m 56s	remaining: 3m
68:	learn: 0.0153777	total: 4m	remaining: 2m 57s
69:	learn: 0.0153559	total: 4m 3s	remaining: 2m 54s
70:	learn: 0.0153185	total: 4m 9s	remaining: 2m 52s
71:	learn: 0.0152916	total: 4m 13s	remaining: 2m 48s
72:	learn: 0.0152730	total: 4m 17s	remaining: 2m 45s
73:	learn: 0.0152447	total: 4m 20s	remaining: 2m 41s
74:	learn: 0.0152283	total: 4m 24s	remaining: 2m 38s
75:	learn: 0.0152019	total: 4m 27s	remaining: 2m 34s
76:	learn: 0.0151770	total: 4m 31s	remaining: 2m 31s
77:	learn: 0.0151578	total: 4m 34s	remaining: 2m 28s
78:	learn: 0.0151411	total: 4m 38s	remaining: 2m 24s
79:	learn: 0.0151342	total: 4m 41s	remaining: 2m 20s
80:	learn: 0.0151182	total: 4m 46s	remaining: 2m 17s
81:	learn: 0.0150943	total: 4m 49s	remaining: 2m 14s
82:	learn: 0.0150845	total: 4m 53s	remaining: 2m 10s
83:	learn: 0.0150631	total: 4m 57s	remaining: 2m 7s
84:	learn: 0.0150287	total: 5m	remaining: 2m 3s
85:	learn: 0.0150124	total: 5m 4s	remaining: 2m
86:	learn: 0.0149949	total: 5m 8s	remaining: 1m 56s
87:	learn: 0.0149699	total: 5m 12s	remaining: 1m 53s
88:	learn: 0.0149658	total: 5m 16s	remaining: 1m 50s
89:	learn: 0.0149502	total: 5m 19s	remaining: 1m 46s
90:	learn: 0.0149303	total: 5m 23s	remaining: 1m 43s
91:	learn: 0.0149215	total: 5m 27s	remaining: 1m 39s
92:	learn: 0.0149154	total: 5m 30s	remaining: 1m 35s
93:	learn: 0.0149086	total: 5m 34s	remaining: 1m 32s
94:	learn: 0.0149006	total: 5m 37s	remaining: 1m 28s
95:	learn: 0.0148934	total: 5m 41s	remaining: 1m 25s
96:	learn: 0.0148891	total: 5m 45s	remaining: 1m 21s
97:	learn: 0.0148798	total: 5m 49s	remaining: 1m 18s
98:	learn: 0.0148694	total: 5m 52s	remaining: 1m 14s
99:	learn: 0.0148597	total: 5m 56s	remaining: 1m 11s
100:	learn: 0.0148538	total: 6m	remaining: 1m 7s
101:	learn: 0.0148454	total: 6m 3s	remaining: 1m 4s
102:	learn: 0.0148303	total: 6m 7s	remaining: 1m
103:	learn: 0.0148278	total: 6m 11s	remaining: 57.1s
104:	learn: 0.0148268	total: 6m 14s	remaining: 53.5s
105:	learn: 0.0148230	total: 6m 18s	remaining: 50s
106:	learn: 0.0148216	total: 6m 21s	remaining: 46.4s
107:	learn: 0.0148118	total: 6m 25s	remaining: 42.9s
108:	learn: 0.0148062	total: 6m 29s	remaining: 39.3s
109:	learn: 0.0147865	total: 6m 32s	remaining: 35.7s
110:	learn: 0.0147822	total: 6m 36s	remaining: 32.2s
111:	learn: 0.0147800	total: 6m 40s	remaining: 28.6s
112:	learn: 0.0147787	total: 6m 43s	remaining: 25s
113:	learn: 0.0147765	total: 6m 47s	remaining: 21.5s
114:	learn: 0.0147743	total: 6m 51s	remaining: 17.9s
115:	learn: 0.0147642	total: 6m 54s	remaining: 14.3s
116:	learn: 0.0147613	total: 6m 58s	remaining: 10.7s
117:	learn: 0.0147600	total: 7m 2s	remaining: 7.16s
118:	learn: 0.0147553	total: 7m 6s	remaining: 3.58s
119:	learn: 0.0147517	total: 7m 9s	remaining: 0us
CPU times: user 5h 56min 13s, sys: 2h 40s, total: 7h 56min 54s
Wall time: 11min 23s

In [ ]:
preds_neww = model.predict_proba(test_new[feats])[:,1]

In [ ]:
preds_ = model.predict_proba(X_test[feats])[:,1]

In [ ]:
preds_2 = model.predict_proba(X_test[feats])[:,1]

In [ ]:
preds_3 = model.predict_proba(X_test[feats])[:,1]

In [ ]:
log_loss(y_test,preds_)

0.014493850515968732

In [ ]:
log_loss(y_test,preds_3)

0.014741350383111898

In [ ]:
log_loss(y_test,preds_2)

0.01456536494045804

In [ ]:
log_loss(y_test,np.zeros(len(preds_)))

0.08787363014241754

In [ ]:
df = pd.DataFrame()
df['prediction'] = preds_neww

In [ ]:
df.to_csv('catboost_preds_new.csv',index=False)